    <div class="section">
        <div id="section_1">
            <div class="panel">
                <div id="building_first">
{% for img in h.images %}                    <div class="hotplace-photo">
                        <img src="{{ base }}{{ img }}" alt="{{ h.title }}" loading="lazy">
                    </div>
{% endfor %}                </div>
                <div id="building_second">
                    <div id="building_info">
                        <h1 id="building_info_title"><span>{{ h.title }}</span></h1>
                        <div id="building_info_main">
                            <div id="building_info_main_first">
{% for line in h.body %}                                <span>{{ line }}</span>
{% endfor %}                            </div>
{% if h.extra_heading %}                            <div id="building_info_main_second">
                                <span>{{ h.extra_heading }}</span><br><br>
{% for line in h.extra_lines %}                                <span>{{ line }}</span>
{% endfor %}                            </div>
{% endif %}                        </div>
                    </div>
                </div>
            </div>

{% include "_nav.html" %}
        </div>
    </div>
