/* [ 사이드 메뉴 ] 넓은 화면에서는 우측 고정, 좁은 화면에서는 하단 가로 바 */

#section_main_sideMenubar {
    position: fixed;
    right: 15px;
    top: 300px;
    z-index: 5;
    width: 100px;
    height: auto;
    border-radius: 10px;
    background-color: #E89EBA;
}

#section_main_sideMenubar ul {
    list-style: none;
    width: 100%;
}

#section_main_sideMenubar li {
    border-radius: 10px;
}

#section_main_sideMenubar li:hover {
    background-color: #F7E59D;
}

#section_main_sideMenubar a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 105%;
    text-decoration: none;
    color: black;
}
